# 1.20.1 AT

public net.minecraft.client.gui.screens.Screen f_96547_
public net.minecraft.client.gui.screens.Screen f_96541_

public net.minecraft.client.gui.GuiGraphics m_280497_(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;)V

public net.minecraft.client.gui.components.AbstractWidget m_280138_(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/client/gui/Font;Lnet/minecraft/network/chat/Component;IIIII)V

public-f net.minecraft.world.item.ItemStack

public-f net.minecraft.client.model.geom.ModelPart$Cube f_104341_
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Polygon <init>([Lnet/minecraft/client/model/geom/ModelPart$Vertex;FFFFFFZLnet/minecraft/core/Direction;)V
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart$Vertex <init>(FFFFF)V

public-f net.minecraft.client.model.geom.ModelPart
public net.minecraft.client.model.geom.ModelPart m_104290_(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;IIFFFF)V
public net.minecraft.client.gui.GuiGraphics f_279627_

public net.minecraft.resources.ResourceLocation m_135843_(Ljava/lang/String;)Z
public net.minecraft.resources.ResourceLocation m_135841_(Ljava/lang/String;)Z

public net.minecraft.client.renderer.texture.TextureManager f_118468_
public com.mojang.blaze3d.vertex.PoseStack$Pose <init>(Lorg/joml/Matrix4f;Lorg/joml/Matrix3f;)V

public net.minecraft.client.renderer.texture.HttpTexture f_117994_
public net.minecraft.client.renderer.texture.HttpTexture f_117995_

public com.mojang.blaze3d.platform.NativeImage f_84964_

public net.minecraft.world.item.ItemStack f_41589_

public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection

public net.minecraft.client.gui.components.AbstractSelectionList f_93385_

