# 26.1 AT

public net.minecraft.client.gui.screens.Screen font
public net.minecraft.client.gui.screens.Screen minecraft

public net.minecraft.client.gui.GuiGraphicsExtractor$ScissorStack
public net.minecraft.client.gui.GuiGraphicsExtractor guiRenderState
public net.minecraft.client.gui.GuiGraphicsExtractor scissorStack

public-f net.minecraft.world.item.ItemStack

public-f net.minecraft.client.model.geom.ModelPart$Cube polygons

public-f net.minecraft.client.model.geom.ModelPart
public net.minecraft.client.model.geom.ModelPart compile(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;III)V

public net.minecraft.client.renderer.texture.SpriteContents originalImage

public com.mojang.blaze3d.vertex.PoseStack$Pose trustedNormals
public net.minecraft.client.renderer.texture.TextureManager byPath

public com.mojang.blaze3d.platform.NativeImage pixels

public net.minecraft.client.renderer.texture.SpriteLoader stitch(Ljava/util/List;ILjava/util/concurrent/Executor;)Lnet/minecraft/client/renderer/texture/SpriteLoader$Preparations;
public net.minecraft.client.gui.components.AbstractSelectionList$Entry

public net.minecraft.world.item.ItemStack item
public net.minecraft.world.item.ItemStack components

public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection

public net.minecraft.client.gui.components.AbstractSelectionList children

public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight
