# 1.21.1 AT

public net.minecraft.client.gui.screens.Screen font
public net.minecraft.client.gui.screens.Screen minecraft

public net.minecraft.client.gui.GuiGraphics renderTooltipInternal(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;)V

public net.minecraft.client.gui.components.AbstractWidget renderScrollingString(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/client/gui/Font;Lnet/minecraft/network/chat/Component;IIIII)V

public-f net.minecraft.world.item.ItemStack

public-f net.minecraft.client.model.geom.ModelPart$Cube polygons
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Polygon <init>([Lnet/minecraft/client/model/geom/ModelPart$Vertex;FFFFFFZLnet/minecraft/core/Direction;)V
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart$Vertex <init>(FFFFF)V

public-f net.minecraft.client.model.geom.ModelPart
public net.minecraft.client.model.geom.ModelPart compile(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;III)V
public net.minecraft.client.gui.GuiGraphics bufferSource

public com.mojang.blaze3d.vertex.PoseStack$Pose trustedNormals
public net.minecraft.client.renderer.texture.TextureManager byPath

public net.minecraft.client.renderer.texture.HttpTexture file
public net.minecraft.client.renderer.texture.HttpTexture urlString

public com.mojang.blaze3d.platform.NativeImage pixels

public net.minecraft.world.item.ItemStack item
public net.minecraft.world.item.ItemStack components

public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection

public net.minecraft.client.gui.components.AbstractSelectionList children
